:root {
  --font-family: "Montserrat", sans-serif;
  --box-shadow-one: 0 3px 10px #cd5d9c;
  --background-color: #000000;
}

body {
  margin: 60px auto;
  background-color: var(--background-color);
  font-family: var(--font-family);
  max-width: 1000px;
}

h1,
h2,
h3 {
  text-align: center;
  color: whitesmoke;
}

h1 {
  margin-bottom: -20px;
  font-size: 60px;
  margin-top: 1px;
}

h2,
h3 {
  font-weight: bolder;
}

h2 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 9px;
}

h1.about-page {
  font-size: 80px;
  margin-top: 80px;
  margin-bottom: 9px;
  padding-top: 2%;
}

h3 {
  font-size: large;
  font-weight: bolder;
}

section {
  padding: 4.5% 0% 7%;
  background-color: black;
  color: #000;
  text-align: center;
  box-shadow: var(--box-shadow-one);
}

.img {
  text-align: center;
  box-shadow: var(--box-shadow-one);
  border-radius: 100%;
}

.i-am {
  text-align: left;
}

.fullstop {
  font: var(--font);
  color: #66bfbf;
  font-weight: 900;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

a.button-1,
.button-2 {
  padding: 20px;
  border-radius: 4%;
  margin: 0 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

a.button-1,
a.button-2 {
  border: 1px solid #cd5d9c;
  background-color: black;
  color: whitesmoke;
  box-shadow: var(--box-shadow-one);
  text-shadow: var(--box-shadow-one);
  font-weight: bold;
}

a:hover.button-1,
a:hover.button-2 {
  background-color: #cd5d9c;
  transition: 1s;
}

.about-item-one,
.about-item-two {
  color: white;
  background: black;
  opacity: 0.9;
  border-radius: 4px;
  margin: 50px;
  padding: 20px;
  text-align: center;
  box-shadow: var(--box-shadow-one);
}

.tech-stack {
  color: white;
  position: relative;
  right: 25%;
}

.tech-stack-items {
  color: white;
  position: relative;
  left: 1%;
  font-size: 18px;
}
.projects {
  color: whitesmoke;
}
.tech-stack,
.projects {
  font-weight: bold;
  font-size: 50px;
  padding-top: 2%;
  margin: 0 20px;
}

.flex-container-2 {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
footer,
p.back-to-links,
a.email,
p.back-to-links {
  text-align: center;
}
